In [1]:
import pandas as pd
import numpy as np
from sqlalchemy import create_engine
from sqlalchemy import text
import os
import re
import json
import requests
from tqdm import tqdm_notebook

# Separação de arquivos para treino e teste do modelo

* Rodar em menos tempo - apenas dois arquivos para o treino ~ aproximadamente 1 hora.
* Um arquivo para o teste e ter métricas.
* Um arquivo de resposta

In [2]:
train_files = [
    "../data/bus/final/2024-05-17/2024-05-17_09.json",
    "../data/bus/final/2024-05-17/2024-05-17_10.json",
]

test_files = [
    "../data/bus/final/2024-05-17/teste-2024-05-17_15.json",
]

answer_files = [
    "../data/bus/teste/2024-05-15/resposta-2024-05-15_08.json"
]

train_first = pd.read_json(train_files[0], encoding='latin-1')
train_second = pd.read_json(train_files[1], encoding='latin-1')

train = pd.concat([train_first, train_second])
test = pd.read_json(test_files[0], encoding='latin-1')

# Tratamento das colunas e linhas de ônibus

In [3]:
lines = [
    '483', '864', '639', '3', '309', '774', '629', '371', '397', '100', '838', 
    '315', '624', '388', '918', '665', '328', '497', '878', '355', '138', '606', 
    '457', '550', '803', '917', '638', '2336', '399', '298', '867', '553', '565', 
    '422', '756', '186012003', '292', '554', '634', '232', '415', '2803', '324', 
    '852', '557', '759', '343', '779', '905', '108'
]

In [4]:
train['latitude'] = train['latitude'].str.replace(',', '.').astype(float)
train['longitude'] = train['longitude'].str.replace(',', '.').astype(float)
train['linha'] = train['linha'].astype(str)
train = train[train['linha'].isin(lines)]
test['linha'] = test['linha'].astype(str)
test = test[test['linha'].isin(lines)]

In [5]:
last_two = train.groupby(['ordem', 'linha']).tail(2).reset_index(drop=True)
size = last_two.groupby(['ordem', 'linha']).size()
to_duplicate = size[size == 1].index
duplicats = last_two.set_index(['ordem', 'linha']).loc[to_duplicate].reset_index()
last_two = pd.concat([last_two, duplicats]).sort_values(['ordem', 'linha'])
# Deixar apenas algumas colunas
last_two = last_two[['ordem','linha','latitude','longitude','datahoraservidor']]

In [6]:
# Juntar DataFrame de teste com o de treino modificado
join_df = pd.merge(test, last_two, on=['ordem','linha'], how='inner')

# Conectar ao Banco de Dados PostgreSQL

In [7]:
database_url = "postgresql://postgres:camila@localhost:5432/postgres"
engine = create_engine(database_url, client_encoding='latin-1')

In [8]:
def execute_query(connection, linha, lat1, lon1, lat2, lon2, last_date, prediction_date):
    query = """
    WITH initial_similar_points AS (
        SELECT time_ranking,
               ordem,
               linha,
               x,
               y,
               datahoraservidor
        FROM vw_buses_order
        WHERE linha = :linha
        AND x = width_bucket(:lon1, -43.726090, -42.951470, 1587)
        AND y = width_bucket(:lat1, -23.170790, -22.546410, 1389)
        AND (
                (datahoraservidor >= TO_TIMESTAMP(:last_date) - interval '7 day' - interval '2 hour'  
                AND datahoraservidor < TO_TIMESTAMP(:last_date) - interval '7 day' + interval '2 hour') 
                OR 
                (datahoraservidor >= TO_TIMESTAMP(:last_date) - interval '14 day' - interval '2 hour'  
                AND datahoraservidor < TO_TIMESTAMP(:last_date) - interval '14 day' + interval '2 hour')
                OR 
                (datahoraservidor >= TO_TIMESTAMP(:last_date) - interval '21 day' - interval '2 hour'  
                AND datahoraservidor < TO_TIMESTAMP(:last_date) - interval '21 day' + interval '2 hour')
            )
        AND time_ranking > 1
        LIMIT 10
    ), anterior_points AS (
        SELECT DISTINCT ON (time_ranking, ordem, linha) 
            time_ranking,
            ordem,
            linha,
            x,
            y,
            datahoraservidor
        FROM vw_buses_order
        WHERE (ordem, linha, time_ranking) IN (
            SELECT ordem, linha, time_ranking - 1
            FROM initial_similar_points
            )
    ), direction_points AS (
         SELECT 
            sp.ordem,
            sp.datahoraservidor
        FROM initial_similar_points sp
        INNER JOIN anterior_points ap
            ON sp.ordem = ap.ordem
            AND sp.linha = ap.linha
            AND sp.time_ranking = ap.time_ranking + 1
        WHERE ((ap.x - sp.x) * (:lon2 - :lon1) + (ap.y - sp.y) * (:lat2 - :lat1)) >= 0
    ), first_future_points AS (
        SELECT DISTINCT ON (vo.ordem, vo.datahoraservidor)
            vo.x,
            vo.y,
            vo.ordem,
            vo.datahoraservidor              
        FROM (
                SELECT 
                          ordem,
                          linha,
                          x,
                          y,
                          datahoraservidor
                FROM vw_buses_order
                WHERE linha = :linha
                AND ordem IN (SELECT DISTINCT ordem FROM direction_points)
             ) vo
        INNER JOIN direction_points dp
            ON vo.ordem = dp.ordem
            AND vo.datahoraservidor > dp.datahoraservidor
            AND vo.datahoraservidor < dp.datahoraservidor + interval '1 hour' + interval '20 minutes'
        WHERE vo.datahoraservidor > dp.datahoraservidor + (TO_TIMESTAMP(:prediction_date) - TO_TIMESTAMP(:last_date) - interval '2 minutes')
        AND vo.datahoraservidor < dp.datahoraservidor + (TO_TIMESTAMP(:prediction_date) - TO_TIMESTAMP(:last_date) + interval '2 minutes')
    ), selected_future_points AS (
        SELECT x,y
        FROM first_future_points
    )
    SELECT 
        ROUND(PERCENTILE_CONT(0.5) WITHIN GROUP (ORDER BY x)) AS median_x,
        ROUND(PERCENTILE_CONT(0.5) WITHIN GROUP (ORDER BY y)) AS median_y
    FROM selected_future_points;
    """
    
    params = {
        'linha': linha,
        'lat1': lat1,
        'lon1': lon1,
        'lat2': lat2,
        'lon2': lon2,
        'last_date': str(last_date),
        'prediction_date': str(prediction_date)
    }

    result = connection.execute(text(query), params)
    row = result.fetchone()
        
    return row[0], row[1]

In [9]:
median_x_list = []
median_y_list = []

with engine.connect() as connection:
    for i in tqdm_notebook(range(0, len(join_df)- 1, 2)):
        row1 = join_df.iloc[i + 1]
        row2 = join_df.iloc[i]
        median_x, median_y = execute_query(
            connection,
            row1['linha'], 
            row1['latitude'], 
            row1['longitude'], 
            row2['latitude'], 
            row2['longitude'], 
            row1['datahoraservidor']/1000, # Convert to seconds - Last Date
            row1['datahora']/1000 # Convert to seconds - Prediction Date
        )

        median_x_list.extend([median_x, median_x])
        median_y_list.extend([median_y, median_y])

join_df['median_x'] = median_x_list
join_df['median_y'] = median_y_list
prediction = join_df[['id','latitude', 'longitude', 'median_y','median_x']]

/var/folders/2c/rr_qb8ln101dbc1k0yyw601r0000gn/T/ipykernel_36927/1536774100.py:5: TqdmDeprecationWarning: This function will be removed in tqdm==5.0.0
Please use `tqdm.notebook.tqdm` instead of `tqdm.tqdm_notebook`
  for i in tqdm_notebook(range(0, len(join_df)- 1, 2)):

  0%|          | 0/148879 [00:00<?, ?it/s]

# Análise dos resultados

In [10]:
(prediction.isnull().sum()/len(prediction)) * 100

id             0.0
latitude       0.0
longitude      0.0
median_y     100.0
median_x     100.0
dtype: float64

### Processamento de dados dos resultados

* Tirar duplicatas
* Deixar valores novos para valores nulos

In [12]:
even_indices = prediction.index[prediction.index % 2 == 0]
rows_with_nulls = prediction.loc[even_indices].isnull().any(axis=1)
prediction = prediction.drop(even_indices[rows_with_nulls])
prediction['median_x'] = prediction['median_x'].fillna(prediction['longitude'])
prediction['median_y'] = prediction['median_y'].fillna(prediction['latitude'])
prediction = prediction[['id','median_y','median_x']]
prediction.drop_duplicates(inplace=True)

In [13]:
def inverse_width_bucket_x(bucket_index):
    min_value = -43.726090
    max_value = -42.951470
    num_buckets = 1587

    if bucket_index < 1:
        return min_value
    elif bucket_index > num_buckets:
        return max_value
    
    bucket_size = (max_value - min_value) / num_buckets
    value = min_value + (bucket_index - 1) * bucket_size + bucket_size / 2
    
    return value
    
def inverse_width_bucket_y(bucket_index):
    min_value = -23.170790
    max_value = -22.546410
    num_buckets = 1389

    if bucket_index < 1:
        return min_value
    elif bucket_index > num_buckets:
        return max_value
    
    bucket_size = (max_value - min_value) / num_buckets
    value = min_value + (bucket_index - 1) * bucket_size + bucket_size / 2
    
    return value

prediction['median_x'] = prediction['median_x'].apply(inverse_width_bucket_x)
prediction['median_y'] = prediction['median_y'].apply(inverse_width_bucket_y)

# Criando resposta

In [14]:
prediction['id'] = prediction['id'].astype('Int64')
previsoes = prediction.values.tolist()

match = re.search(r'teste-(\d{4}-\d{2}-\d{2})_(\d{2})', test_files[0])
date_part = match.group(1)
hour_part = match.group(2)
datahora = f"{date_part} {hour_part}:00:00"

output = {
    "aluno": "Felipe Vilela Magalhães Casalecchi",
    "datahora": datahora,
    "previsoes": [[str(item) if isinstance(item, pd.Int64Dtype) else item for item in row] for row in previsoes],
    "senha": "dataMining"
}

output_json = json.dumps(output, indent=4)

In [15]:
output_filename = test_files[0][37:48] + "_answer.json"
with open(output_filename, "w") as json_file:
    json_file.write(output_json)

print(f"JSON salvo em {output_filename}")

JSON salvo em 24-05-17_15_answer.json

# Mandar resposta para Endpoint

In [16]:
url = 'https://barra.cos.ufrj.br:443/rest/rpc/avalia'
headers = {
    'accept': 'application/json',
    'Content-Type': 'application/json'
}
response = requests.post(url, headers=headers, data=output_json)
if response.status_code == 200:
    print("POST bem-sucedido!")
    print("Resposta do servidor:")
    print(response.json())
else:
    print(f"Falha no POST: {response.status_code}")
    print(response.text)

POST bem-sucedido!
Resposta do servidor:
{'msg': 'Problemas!', 'arquivo teste': 'teste-2024-05-17_15.json', 'rmse': 53263.207945918555, 'ids não encontrados': 0, 'ids testados': 148879, 'total na tabela': 162697}